:root{
  --app-bg: #1E2630;
  --app-c: #ccc8e5;
  --column-bg: #353d47;
  --column-c: #ccc8e5;
  --column-drag-border: 2px dashed #444c56;
  --task-bg: #3B394B;
  --task-c: #ccc8e5;
  --task-border-top: #57546A;
  --task-drag-bg: #19152F;
  --border-c: #444c56;
  --border: 1px solid #444c56;
  --button-bg: #334641;
  --button-focus-bg: #687F7A;
  --radius: 6px;
}

body{
  background-color: var(--app-bg);
}
.kanban-board {
  display: flex;
}

.kanban-title{
  font-size: xx-large;
  color: var(--app-c);
  padding: 10px;
  margin: 10px;
}

.column {
  flex: 1;
  background-color: var(--column-bg);
  padding: 10px;
  margin: 10px;
  border: var(--border);
  border-radius: var(--radius);
  color: var(--column-c);
  min-width: 200px;
}

.task {
  background-color: var(--task-bg);
  border: var(--border);
  color: var(--task-c);
  border-radius: var(--radius);
  padding: 10px;
  margin-bottom: 10px;
}

.task-list {
  border-radius: var(--radius);
  margin: 0 10px;
}

.task.dragging {
  background-color: var(--task-drag-bg);
  color: whitesmoke;
  border-left: 5px solid #757388;
}

.task-list.dragging-over {
  background-color: #1E2630;
  border: var(--column-drag-border);
}

button, .action-button {
  background-color: var(--button-bg);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0px 1em;
  cursor: pointer;
  margin: 0px 6px;
  height: 2em;
}

button:hover, .action-button:hover {
  background-color: var(--button-focus-bg);
}

button:disabled{
  visibility: hidden;
}

.task-actions {
  visibility: hidden;
  flex-direction: row-reverse;
}

.task:hover .task-actions {
  display:flex;
  visibility: visible;
}

.form-board{
  display: flex;
  flex-direction: column;  
  padding: 10px;
  margin: 10px 10px;
}

.input-add{
  color: var(--app-c);
  border: var(--border);
  border-radius: 3px;
  height: 2em;
  width: 50%;
  margin: 10px;
  background-color: #2d333b;
  padding: 0px 10px;
  font-size: 1em;
}

.input-add:focus{
  color:#e4e2e2;
}

.task-date{
  font-size: x-small;
  margin:0;
  background-color: #5A5674;
  border-radius: 3px;
  padding: 3px;
  width: fit-content;
}

.task-title{
  height: 2em;
  font-weight: 600;
}

.task-header{
  display: flex;
}

.task-points{
  font-size: x-small;
  background-color: #5A5674;
  border-radius: 50%;
  margin-left: auto;
  padding: 3px;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
}